/*
    Author: Alvaro Galisteo - @Sr_GMC
    Uses:
        - segmented-control https://github.com/springload/segmented-control
 */

body {
    overflow: hidden;

    font-family: "Helvetica";

    background-color: #202020;
}
.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background-color: #2b2b2b;
}
.navigationBar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    height: 96px;

    background-color: #202020;
}
.navigationBar .title {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 8px 32px;

    font-size: 36px;
    font-weight: bold;

    color: #fff;
}

.navigationBar .title .float.right {
    position: absolute;
    right: 0;
    bottom: 3px;
    /*float: right;*/

    font-size: 20px;
    font-weight: initial;

    color: rgb(90, 200, 250);
}

.navigationBar .title .float.right span {
    margin: 0 10px;
}

.navigationBar .title .float.right span:hover {
    color: #32a0d2;
}

.navigationBar .title .float.left {
    float: left;
}

.content {
    position: fixed;
    top: 96px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;

    margin: 10px 32px;

    color: #fff;
    background-color: #2b2b2b;
}

.content .control {
    display: inline-block;
}

.content #history_main {
    overflow-y: hidden;
}

.content .history {
    position: absolute;
    right: 0;
    left: 320px;

    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 15px;

    text-align: center;

    color: #4cd964;
}

.content #history {
    overflow-y: auto;

    text-align: left;
}

.content .num {
    display: inline-block;
    width: 60px;
    margin-right: 5px;

    font-size: 14px;
    font-weight: bold;

    text-align: right;

    color: #63a46c;
}

.content .code {
    display: inline-block;
    padding: 1px;
    margin: 3px;
}

.content .code.run {
    background-color: #403f4c;
}


.content #sidebar_main {
    overflow-y: hidden;
}

.content .sidebar {
    position: absolute;
    left: -14px;

    width: 320px;
    margin-bottom: 60px;

    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 14px;

    text-align: center;
    white-space: nowrap;

    color: #fff;
    border-right-color: #5a5a5c ;
}

.content #sidebar {
    overflow-y: auto;

    text-align: left;
}

.segmented-control {
    display: table;
    width: 300px;
    padding: 0;
    margin: 16px 0;

    font-size: 16px;

    color: #fff;
}

.segmented-control__item {
    display: table-cell;
    padding: 0;
    margin: 0;

    list-style-type: none;
}

.segmented-control__input {
    position: absolute;

    visibility: hidden;
}

.segmented-control__label {
    display: block;
    padding: 5px .25em;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */

    font-family: sans-serif;

    cursor: pointer;
    text-align: center;

    border: 1px solid #ddd;
}

.segmented-control__label.first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.segmented-control__label.last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.segmented-control__label:hover {
    color: #000;
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    color: #333;
    background: #eee;
}

.content .output {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    height: 150px;
    padding: 10px 30px;

    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;

    background-color: #202020;
}

.content .output .title {
    margin-bottom: 2px;

    font-family: "Helvetica";
    font-size: 20px;
    font-weight: bold;

    color: #fff;
    background-color: #202020;
}

.content .output .output {
    position: relative;

    height: 80%;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}

#resolution {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;

    display: none;

    text-align: center;

    color: #fff;
    background-color: #202020;

    align-items: center;
    justify-content: center;
}

#resolution i {
    font-size: 14px;
}

#resolution img {
    width: 128px;

    border-radius: 17px;
    -webkit-box-shadow: 0 0 20px 0 rgba(255,255,255,.5);
       -moz-box-shadow: 0 0 20px 0 rgba(255,255,255,.5);
            box-shadow: 0 0 20px 0 rgba(255,255,255,.5);
}

@media only screen and (max-width: 714px) {
    #resolution {
        display: flex;
    }
}
